.button_styling {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: white;
    gap: 10px;    
}

.tab_item {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px 6px 0 0;
    background-color: transparent;
    color: white;
    font-family: Poppins;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.4s;
    font-weight: 700;
}

.tab_item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.active {
    background: rgba(255, 255, 255, 0.2);
    transition: .4s;
}

.tab_content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    /* margin-top: 10px; */
    font-family: Poppins;
    color: white;
    font-size: 20px;
}
@media only screen and (max-width: 430px) {
    .tab_content {
        
        margin-top: 0;
        margin-bottom: 40px;
    }

    .tab_content p {
        font-size: 20px;
        padding: 20px;
    }

    .tab_item{
        font-size: .8rem;
    }
}