.modal_container {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.774);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
    
} 

.modal_content {
    /* background: rgb(255, 255, 255); */
    /* padding: 0px 0px 20px 0px; */
    /* border-radius: 10px; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
    position: relative;
}

.modal_image {
    width: 100%;
    max-width: 600px;
    height: auto;
    /* border-radius: 5px; */
}

.modal_text {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    margin-top: 10px;
    color: white;
    font-family: poppins;
    font-weight: 500;
    animation: fadeIn 0.5s ease-in-out;
}

.modal_text_container {
  align-items: center;
  justify-content: center;
  width: 600px;
  height: auto;

  
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modal_content {
    animation: fadeIn 0.3s ease-in-out;
  }

  @media only screen and (max-width: 560px) {
    .modal_text_container {
      width: 504px;
    }
  }
  @media only screen and (max-width: 428px) {
    .modal_text_container {
      width: 385px;
    }
  }